/*global css section*/
*,ul{
	margin: 0;
	padding: 0; 
}
a{
	text-decoration: none;
}
body{
	font-family: 'Poppins', sans-serif;
}
.owl-carousel .owl-item img{
	width: auto;
	height: auto;
	display: inherit;
}
@media(min-width: 1200px){
	.container{
		width: 1140px !important
	}
}


.owl-theme .owl-dots .owl-dot span {
    width: auto !important;
    height: auto !important;
    margin: 0;
    background: transparent !important;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0px;
    display: none;
}
.owl-theme .owl-dots .owl-dot.active span{display: inline-block !important;font-size: 100px;font-weight: 700;color: #cde8eb;position: absolute;right: -18%;top: 50%;transform: translateY(-50%);}
/*varibale declare*/
:root{
	--black: #000;
	--primaryColor: #ff3368;
	--bg-color: #ecfdff;
}

/*header section css*/
header{width: 100%;padding: 22px 0;background-color: var(--bg-color)}
.nav-item{margin:0 12px;position: relative;}
.nav-link{color: var(--black);font-size: 15px;text-transform: capitalize;}
.nav-icons a{margin-left: 22px;position: relative;}
.nav-icons a i{color: var(--black) !important;}
.cart-icon span{display: inline-block;width: 14px;height: 14px;border-radius: 100%;background: red;color: white;font-size: 10px;text-align: center;line-height: 14px;    position: absolute;top: 0;right: -10px;}
.sub-menu{z-index:9999;position: absolute;top: 54px;left: -33px;width: 140px;text-align: center;background: #ff3368;padding: 22px;border-radius: 4px;list-style: none;transform: scale(1,0);transition: 0.5s; transform-origin: top center;}
.sub-menu li a{color: #fff !important;line-height: 2}
.nav-item:hover .sub-menu{transform: scale(1);transition: 0.5s}

/*banner section css*/
.banner{width: 100%;background-color: var(--bg-color);padding: 120px 0}
.banner .b-content h1{font-size: 66px;font-weight: bold;color: #000;margin-bottom: 32px}
.banner .b-content p{font-size: 15px;font-weight: 300;color: #000;margin-bottom: 46px;line-height: 1.8}
.banner .b-content .theme-btn{width: 160px;background-color: #ff3368;display: inline-block;height: 60px;text-align: center;line-height: 60px;font-size: 15px;color: white;text-transform: uppercase;font-weight: 600;border-radius: 5px;background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 74%, #ffba00 100%);}
.banner .b-content .theme-btn:hover{background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 54%, #ffba00 100%);}
.banner .owl-nav{display: flex;flex-direction: row-reverse;background-color: white;padding: 24px 64px;position: absolute;bottom: -120px;right: -200px;}
.banner .owl-theme .owl-nav [class*=owl-]:hover{background-color: white; color: black}
.banner .owl-next span{border-radius: 0;border-right: 2px solid black;padding-right: 12px;}
/*.banner .owl-dots{display: none;}*/


/*featured section css*/
.featured{width: 100%;padding: 120px 0}
.featured .s-title h2{text-align: center;color: #1a1a1a;font-size: 36px;font-weight: 600;margin-bottom: 62px}
.featured .f-item{background-color: #f8fbff;padding: 42px 12px 0 44px;position: relative;height: 400px;margin-bottom: 24px;}
.featured .f-item h6{position:relative;z-index: 9999;font-size: 15px;font-weight: 300;color: black; margin-bottom: 16px}
.featured .f-item h3{position:relative;z-index: 9999;font-size: 24px;font-weight: 600;color: black}
.featured .f-item a{z-index: 9999;color: #ff3368;font-weight: 700;position: absolute;bottom: 50px;text-transform: uppercase;letter-spacing: 2px;transition: 0.5s;opacity: 0}
.featured .f-item:hover a{transform: translateY(10px);transition: 0.5s;opacity: 1}
.featured .f-item img{position: absolute;bottom: 0;right: 20px;}

/*awesome section css*/
.awesome{width: 100%;padding: 100px 0; position: relative;}
.awesome .s-title{margin-bottom: 52px;}
.awesome .s-title h2{font-weight: 700}
.awesome .p-item .p-details{padding: 16px 0;transition: 0.5s}
.awesome .p-item .p-details h4{font-size: 18px;font-weight: 700}
.awesome .p-item .p-details p{font-size: 18px;font-weight: 300}
.awesome .p-item .p-details a{opacity: 0;font-size: 18px;font-weight: 500;color: #ff3368;text-transform: uppercase;}
.awesome .p-item .p-details a i{color: black;float: right;}
.awesome .p-item:hover .p-details{margin: 0 24px;transition: 0.5s}
.awesome .p-item:hover a{opacity: 1}
.awesome .owl-dots{display: none;}
.awesome .owl-next span{border-radius: 0;border-right: 2px solid black;padding-right: 12px;}
.awesome .owl-nav{display: flex;flex-direction: row-reverse;background-color: white;padding: 0px;position: absolute;top: -70px;right: 9px;}
.awesome .owl-theme .owl-nav [class*=owl-]:hover{background-color: white; color: black}


/*weekly sale section css*/
.wsale{width: 100%;padding: 100px 0;background-color: var(--bg-color)}
.wsale .row{align-items: center;}
.wsale .offer-content h2{font-size: 50px;font-weight: 700;color: #1a1a1a;line-height: 70px;}
.wsale .offer-content #countdown{margin: 32px 0}
.wsale .offer-content #countdown ul li{list-style: none;display: inline-block;text-transform: uppercase;font-size: 14px;color: #666;font-weight: 600;padding: 0 34px;border-right: 1px solid #d1d0d0;}
.wsale .offer-content #countdown ul li span{font-size: 36px;color: black;font-weight: 700;display: block;}
.wsale .offer-content #countdown ul li:first-child{padding-left: 0}
.wsale .offer-content #countdown ul li:last-child{border-right: 0px}
.wsale .offer-content form input[type="email"]{padding: 18px;width: 360px;border: none;border-radius: 5px 0px 0px 5px;}
.wsale .offer-content form input[type="submit"]{width: 160px;background-color: #ff3368;display: inline-block;height: 60px;text-align: center;line-height: 60px;font-size: 15px;color: white;text-transform: uppercase;font-weight: 600;border-radius: 0 5px 5px 0px;background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 74%, #ffba00 100%);border: 0;margin-left: -4px;}
form input[type="email"]:focus{outline: none;}

/*subscription section css*/
.subscription{width: 100%;background-image: url('../img/subscribe.png');background-size: cover;background-position: center;background-repeat: no-repeat;padding: 120px 0;text-align: center;}
.subscription h6{font-size: 14px;color: #ff3368;letter-spacing: 2px;font-weight: 400}
.subscription h2{font-size: 48px;font-weight: 700;line-height: 60px;margin: 42px 0}
.subscription form{}
.subscription form input[type="email"]{padding: 18px;width: 360px;border: none;border-radius: 5px;}
.subscription form input[type="submit"]{width: 160px;background-color: #ff3368;display: inline-block;height: 60px;text-align: center;line-height: 60px;font-size: 15px;color: white;text-transform: uppercase;font-weight: 600;border-radius: 5px;background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 74%, #ffba00 100%);border: 0;}


/*client logos section css*/
.c-logos{width: 100%;padding: 120px 0}
.c-logos .logos-wrapper{display: grid;grid-template-columns: auto auto auto auto auto;}
.c-logos .logos-wrapper div{border: 1px solid whitesmoke;text-align: center;padding: 20px;}
.c-logos .logos-wrapper div:nth-child(1),
.c-logos .logos-wrapper div:nth-child(2),
.c-logos .logos-wrapper div:nth-child(3),
.c-logos .logos-wrapper div:nth-child(4),
.c-logos .logos-wrapper div:nth-child(5){border-top: none}
.c-logos .logos-wrapper div:nth-child(6),
.c-logos .logos-wrapper div:nth-child(7),
.c-logos .logos-wrapper div:nth-child(8),
.c-logos .logos-wrapper div:nth-child(9),
.c-logos .logos-wrapper div:nth-child(10){border-bottom: none}
.c-logos .logos-wrapper div:nth-child(1),
.c-logos .logos-wrapper div:nth-child(6){border-left: none}
.c-logos .logos-wrapper div:nth-child(5),
.c-logos .logos-wrapper div:nth-child(10){border-right: none}
.c-logos .logos-wrapper div img{filter: grayscale(1);transition: 0.5s}
.c-logos .logos-wrapper div img:hover{filter: grayscale(0);transition: 0.5s}

/*footer section css code*/
footer{width: 100%;padding: 20px 0}
footer .f-item h4{font-size: 20px;font-weight: 500;margin-bottom: 35px}
footer .f-item ul li{list-style: none;}
footer .f-item ul li a{font-size: 14px;color: #7f7f7f;margin-bottom: 10px;display: inline-block;}
footer .f-item p{font-size: 15px;color: #7f7f7f; font-weight: 300;line-height: 2;margin-bottom: 32px}
footer .f-item form{position: relative;}
footer .f-item form input[type="email"]{padding: 16px;width: 300px;border: none;border-radius: 5px;background-color: #f9f9fe}
footer .f-item form input[type="submit"]{background: #ff3368;color: white;border: none;padding: 8px 16px;border-radius: 4px;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}

footer .copyright{margin-top: 42px}
footer .copyright p{font-size: 15px;color: #7f7f7f; font-weight: 300;line-height: 2;}
footer .copyright .f-icon a{margin-left: 4px;padding: 5px 11px}
footer .copyright .f-icon a i{font-size: 15px;color: #7f7f7f}
footer .copyright .f-icon a:hover{background-color: var(--primaryColor)}
footer .copyright .f-icon a:hover i{color: white}

header .nav-icons{position: relative;}
header .shopping-cart{position: absolute;right: -20px;background: white;z-index: 9999;padding: 30px;top: 40px;width: 360px;border-radius: 4px;}
header .shopping-cart-items{list-style: none;}


.badge {
  background-color: var(--primaryColor);
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  display: none;
}
.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-price {
  color: var(--primaryColor);
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
}
.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}
.cart-icon {
  color: #515783;
  font-size: 18px;
  margin-right: 7px;
  float: left;
}
.shopping-cart .button {
  background: var(--primaryColor);
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
}


.shopping-cart-items img{width: 80px}
.shopping-cart-items h4{font-size: 16px}
.shopping-cart-items .p-details a{display: none;}

.sticky{position: fixed;width: 100%;box-shadow: 0px 15px 10px -15px #cacaca;z-index: 9999;padding: 10px 0;}